.FlightItem {
    background-color: #dededf;
    flex-flow: row wrap;
    flex: 1 1 250px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.23), 0 3px 6px 0 rgba(0,0,0,.16);
    overflow: hidden;

    & .title{
        background: #898989;
        margin: 0;
        padding: 6px 12px 10px;
        color: #FFFFFF;
    }

    & .text{
        padding: 6px 12px 10px;
    }
}